/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --color-bg: #fff;
  --color-accent: #000;

  --color-bg-gradient: #e7e7e7, #1a1a1a;
  --color-bg-gradient-line: #d3d3d3;

  --fw-text: 400;
  --fw-title: 700;

  --color-button: #fff;
  --color-button-alt: #000;

  --color-heart: #000;
}

:root.theme-dark {
  --color-bg: #000;
  --color-accent: #00cc14;

  --color-bg-gradient: #007f0c, #004306;
  --color-bg-gradient-line: #000;

  --fw-text: 465;
  --fw-title: 785;

  --color-button: #00cc14;
  --color-button-alt: #00cc14;

  --color-heart: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-accent: #00cc14;

    --color-bg-gradient: #007f0c, #004306;
    --color-bg-gradient-line: #000;

    --fw-text: 465;
    --fw-title: 785;

    --color-button: #00cc14;
    --color-button-alt: #00cc14;

    --color-heart: #00cc14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff;
    --color-accent: #000;

    --color-bg-gradient: #e7e7e7, #1a1a1a;
    --color-bg-gradient-line: #d3d3d3;

    --fw-text: 400;
    --fw-title: 700;

    --color-button: #fff;
    --color-button-alt: #000;

    --color-heart: #000;
  }
}
